# Exponential Growth

In [2]:
import pandas as pd
df = pd.DataFrame(columns=['Day', 'Percent Coverage'])
percent_coverage = 100

for day in range(30,0,-1):
    df = df.append({'Day':day, 'Percent Coverage':percent_coverage}, ignore_index=True)
    percent_coverage = percent_coverage/2
df

   Day Percent Coverage
0   30              100
1   29               50
2   28               25
3   27             12.5
4   26             6.25
5   25            3.125
6   24           1.5625
7   23          0.78125
8   22         0.390625
9   21         0.195312
10  20        0.0976562
11  19        0.0488281
12  18        0.0244141
13  17         0.012207
14  16       0.00610352
15  15       0.00305176
16  14       0.00152588
17  13      0.000762939
18  12       0.00038147
19  11      0.000190735
20  10      9.53674e-05
21   9      4.76837e-05
22   8      2.38419e-05
23   7      1.19209e-05
24   6      5.96046e-06
25   5      2.98023e-06
26   4      1.49012e-06
27   3      7.45058e-07
28   2      3.72529e-07
29   1      1.86265e-07

In [3]:
import math

princ_amount = 100
rate_of_int = 4 # percent
time_period = 35 # years

ci_future = princ_amount * (math.pow((1 + rate_of_int / 100), time_period)) 
compound_int = ci_future - princ_amount

print("Future Compound Interest for Principal Amount {0} = {1}".format(princ_amount, ci_future))
print("Compound Interest for Principal Amount {0} = {1}".format(princ_amount, compound_int))

Future Compound Interest for Principal Amount 100 = 394.6088994211942
Compound Interest for Principal Amount 100 = 294.6088994211942

In [5]:
pets = pd.read_csv('./pets.csv')
pets.describe()

       Age (years)       Legs  Weight (lbs)  Time to Adoption (weeks)
count    31.000000  31.000000     31.000000                 31.000000
mean      4.483871   4.096774     40.993548                  5.838710
std       3.501152   0.746317     48.749140                  6.277456
min       1.000000   3.000000      0.100000                  1.000000
25%       2.000000   4.000000      5.400000                  2.500000
50%       3.000000   4.000000     13.400000                  4.000000
75%       6.500000   4.000000     60.400000                  7.000000
max      16.000000   8.000000    172.000000                 30.000000

In [6]:
pets.corr()

,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks)
Age (years),1.000000,0.024491,-0.107816,0.477350,0.441980
Fixed,0.024491,1.000000,-0.244144,-0.161376,-0.022196
Legs,-0.107816,-0.244144,1.000000,-0.153903,-0.160201
Weight (lbs),0.477350,-0.161376,-0.153903,1.000000,0.645411
Time to Adoption (weeks),0.441980,-0.022196,-0.160201,0.645411,1.000000